.images{
	padding-top: 2vh;
	max-width: 800px;
	width: 30vw;
	min-width: 300px;

}

.images.hard{
}

.images.snippit{
}

.images.analyzer{
}


.click-zoom input[type=checkbox] {
  display: none
}


@media only screen and (min-width: 600px){

.click-zoom img {
  margin: 100px;
  transition: transform 0.25s ease;
  cursor: zoom-in
}

.click-zoom input[type=checkbox]:checked~img {
  transform: scale(2.3);
  cursor: zoom-out
}
}


.images.pcb{
}

.gif{
	max-width: 1400px;
	min-width: 300px;
	width: 45vw;
}

h1 {
}

p {
	width: 80vw;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
