

@media only screen and (max-width: 700px){
	.name{
		display: none;
	}
	.nameSmall{
		display: inline-block;
	}
	.hText{
		display:none;
	}
	.vText{
		display:inline-block;
	}

	.box{
	position: relative;
	margin-top: 10vh;
	width: 90vw;
	height: 65vh;
	border-style: solid;
	overflow: hidden;
}

	.pLink{
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #fcbf49;
	font-size: 1.2em;
	font-family: 'Kanit', sans-serif;
	color: black;
	width: 100%;
	height: 40px;
}

}

@media only screen and (min-width: 700px){
	.name{
		display: inline-block;
	}
.nameSmall{
	display:none;
}
	.hText{
		display:inline-block;
	}
	.vText{
		display:none;
	}
	.box{
	position: relative;
	margin-top: 10vh;
	height: 600px;
	width: 600px;
	border-style: solid;
	overflow: hidden;
}


.pLink{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #fcbf49;
	font-size: 1.2em;
	font-family: 'Kanit', sans-serif;
	color: black;
	margin-left: 60px;
	top: 0px;
	width: 540px;
	height: 40px;
}


}

nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90vw;
	height: 35px;
}

nav a{
		color: inherit;
	text-decoration: none;

}

.socials {
	padding-right: 45px;
}

.socials a {
	display: inline-block;
	margin-left:15px;
	margin-right:15px;
	width: 35px;
	height: 35px;
}

.socials a img{
	width: 100%;
	height: 100%;
}

hr {
       display: block;
       position: relative;
       padding: 0;
       margin: 8px auto;
       height: 0;
       width: 90%;
       max-height: 0;
       font-size: 1px;
       line-height: 0;
       clear: both;
       border: none;
       border-top: 1px solid #aaaaaa;
       border-bottom: 1px solid #ffffff;
    }

.hText{
 	padding-left: 20px;
 	height: 100%;
 	width: 40px;
 	background-color: #003049;
	color: #d62828;
	font-size: 2em;
}

.vText{
	text-align: center;
	width: 100%;
 	background-color: #003049;
	color: #d62828;
	font-size: 1.2em;
	font-family: 'Orbitron', sans-serif;
}
.vText p {
	width: 100%;
}


.hText p{
	margin:0;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Orbitron', sans-serif;
}


.pLink a{
	color: inherit;
	text-decoration: none;
}

.pLink a:hover{
	color: white;
	font-size: 1.3em;
	font-weight: bold;
}

.name{
	font-size: 2em;
	padding-left: 20px;	
	font-family: 'Orbitron', sans-serif;
}

.nameSmall{
	padding-left: 20px;
	font-family: 'Orbitron', sans-serif;
}


.images{
	padding-top: 2vh;

}

.images.hard{
	max-width: 800px;
	width: 35vw;
	min-width: 300px;

}

.images.snippit{
	max-width: 800px;
	width: 25vw;
	min-width: 300px;

}

.images.analyzer{
	max-width: 800px;
	width: 40vw;
	min-width: 300px;

}
.images.pcb{
	max-width: 800px;
	width: 40vw;
	min-width: 300px;

}



.click-zoom input[type=checkbox] {
  display: none
}


@media only screen and (min-width: 600px){

.click-zoom img {
  margin: 100px;
  transition: transform 0.25s ease;
  cursor: zoom-in
}

.click-zoom input[type=checkbox]:checked~img {
  transform: scale(2.3);
  cursor: zoom-out
}
}



.gif{
	max-width: 1400px;
	min-width: 300px;
	width: 45vw;
}

h1 {
}

p {
	max-width: 1200px;
	width: 50vw;
	min-width: 300px;

}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
