
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90vw;
	height: 40px;
}

nav a{
		color: inherit;
	text-decoration: none;

}

.socials {
	padding-right: 45px;
}

.socials a {
	display: inline-block;
	margin-left:15px;
	margin-right:15px;
	width: 35px;
	height: 35px;
}

.socials a img{
	width: 100%;
	height: 100%;
}

hr {
       display: block;
       position: relative;
       padding: 0;
       margin: 8px auto;
       height: 0;
       width: 90%;
       max-height: 0;
       font-size: 1px;
       line-height: 0;
       clear: both;
       border: none;
       border-top: 1px solid #aaaaaa;
       border-bottom: 1px solid #ffffff;
    }

.hText{
 	padding-left: 20px;
 	height: 100%;
 	width: 40px;
 	background-color: #003049;
	color: #d62828;
	font-size: 2em;
	font-family: 'Kanit', sans-serif;
	font-weight: 600;
}


.hText p{
	margin:0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.pLink{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #fcbf49;
	font-size: 1.2em;
	font-family: 'Kanit', sans-serif;
	color: black;
	margin-left: 60px;
	top: 0px;
	width: 340px;
	height: 40px;
}

.pLink a{
	color: inherit;
	text-decoration: none;
}

.pLink a:hover{
	color: white;
	font-size: 1.3em;
	font-weight: bold;
}

.name{
	font-size: 2em;
	padding-left: 20px;
	font-family: 'Titillium Web', sans-serif;
}

.box{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -200px;
	height: 600px;
	width: 400px;
	border-style: solid;
	overflow: hidden;
}

.images{
	padding-top: 2vh;

}

.images.hard{
	max-width: 800px;
	width: 35vw;
	min-width: 300px;

}

.images.snippit{
	max-width: 800px;
	width: 25vw;
	min-width: 300px;

}

.images.analyzer{
	max-width: 800px;
	width: 40vw;
	min-width: 300px;

}
.images.pcb{
	max-width: 800px;
	width: 40vw;
	min-width: 300px;

}



.click-zoom input[type=checkbox] {
  display: none
}


@media only screen and (min-width: 600px){

.click-zoom img {
  margin: 100px;
  transition: transform 0.25s ease;
  cursor: zoom-in
}

.click-zoom input[type=checkbox]:checked~img {
  transform: scale(2.3);
  cursor: zoom-out
}
}



.gif{
	max-width: 1400px;
	min-width: 300px;
	width: 45vw;
}

h1 {
}

p {
	max-width: 1200px;
	width: 50vw;
	min-width: 300px;

}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
