

@media only screen and (max-width: 700px){
	.name{
		display: none;
	}
	.nameSmall{
		display: inline-block;
	}
	.hText{
		display:none;
	}
	.vText{
		border: solid;
		border-width: thick;
		border-color: #003049;
		display:inline-block;
	}

	.box{
	position: relative;
	margin-top: 10vh;
	width: 90vw;
	height: 65vh;
	overflow: hidden;
	grid-template-columns: 97%;
	grid-template-rows:repeat(11,1fr);
}

}

@media only screen and (min-width: 700px){
	.name{
		display: inline-block;
	}
.nameSmall{
	display:none;
}
	.hText{
		line-height: 200%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.hText.proj{
		grid-row: span 7;
	}
	.hText.info{
		grid-row: span 2;
	}
	.vText{
		display:none;
	}
	.box{	
	position: relative;
	margin-top: 10vh;
	height: 600px;
	width: 600px;
	grid-template-columns: 10% 90%;
	grid-template-rows: repeat(7, 1fr) repeat(2, 1.5fr);
	grid-gap: 5px;
}



}

.box{
	display: grid;
}

.pLink{
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 1.2em;
	font-family: 'Kanit', sans-serif;
	color: black;
	width: 100%;
}

.pLink.keyboard{
	border: solid;
	border-style: outset;
	background-color: #fcbf49;
	font-size: 1.5em;
	border-width: thick;
}
.pLink.disabled.one{
	border: solid;
	border-style: outset;
	background-color: #125359;
	border-width: thick;
}
.pLink.disabled.two{
	border: solid;
	border-style: outset;
	background-color: #ef4423;
	border-width: thick;
}
.pLink.disabled.three{
	border: solid;
	border-style: outset;
	background-color: #2a3492;
	border-width: thick;
}
.pLink.disabled.four{
	border: solid;
	border-style: outset;
	background-color: #4faf44;
	border-width: thick;
}
.pLink.disabled.five{
	border: solid;
	border-style: outset;
	background-color: #f6eb14;
	border-width: thick;
}
.pLink.disabled.six{
	border: solid;
	border-style: outset;
	background-color: #e283c9;
	border-width: thick;
}
.pLink.disabled.seven{
	border: solid;
	border-style: outset;
	background-color: #065ae5;
	border-width: thick;
}
.pLink.disabled.eight{
	border: solid;
	border-style: outset;
	border-width: thick;
	background-color: #008751;
}


.pLink.about{
	border: solid;
	border-style: outset;
	background-color: #c2c3c7;
	border-width: thick;
}
.pLink.about a:hover{
	color: grey;
}
.pLink.contact{
	border: solid;
	border-style: outset;
	background-color: #bf0d00;
	border-width: thick;
}
.pLink.contact a:hover{
	color: grey;
}

.pLink.disabled a:hover{
	color: black;
	cursor: default;
}

nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90vw;
	height: 35px;
}

nav a{
		color: inherit;
	text-decoration: none;

}

.socials {
	padding-right: 45px;
}

.socials a {
	display: inline-block;
	margin-left:15px;
	margin-right:15px;
	width: 35px;
	height: 35px;
}

.socials a img{
	width: 100%;
	height: 100%;
}

hr {
       display: block;
       position: relative;
       padding: 0;
       margin: 8px auto;
       height: 0;
       width: 90%;
       max-height: 0;
       font-size: 1px;
       line-height: 0;
       clear: both;
       border: none;
       border-top: 1px solid #aaaaaa;
       border-bottom: 1px solid #ffffff;
    }

.hText{
	padding-left: 20px;
 	height: 100%;
 	background-color: #003049;
	color: #d62828;
	font-family: 'Orbitron', sans-serif;
	font-size: 1em;
}

.vText{
	text-align: center;
	width: 100%;
 	background-color: #003049;
	color: #d62828;
	font-size: 1.2em;
	font-family: 'Orbitron', sans-serif;
}
.vText p {
	width: 100%;
}



.pLink a{

	font-family: 'Orbitron', sans-serif;
	color: inherit;
	text-decoration: none;
}

.pLink a:hover{
	color: white;
	font-size: 1.1em;
	font-weight: bold;
}

.name{
	font-size: 2em;
	padding-left: 20px;	
	font-family: 'Orbitron', sans-serif;
}

.nameSmall{
	padding-left: 20px;
	font-family: 'Orbitron', sans-serif;
}


.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}

.images{
	padding-top: 2vh;

}

.images.hard{
	max-width: 800px;
	width: 35vw;
	min-width: 300px;

}

.images.snippit{
	max-width: 800px;
	width: 25vw;
	min-width: 300px;

}

.images.analyzer{
	max-width: 800px;
	width: 40vw;
	min-width: 300px;

}
.images.pcb{
	max-width: 800px;
	width: 40vw;
	min-width: 300px;

}



.click-zoom input[type=checkbox] {
  display: none
}


@media only screen and (min-width: 600px){

.click-zoom img {
  margin: 100px;
  transition: transform 0.25s ease;
  cursor: zoom-in
}

.click-zoom input[type=checkbox]:checked~img {
  transform: scale(2.3);
  cursor: zoom-out
}
}



.gif{
	max-width: 1400px;
	min-width: 300px;
	width: 45vw;
}

h1 {
}

p {
	max-width: 1200px;
	width: 50vw;
	min-width: 300px;

}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
