
.images{
	padding-top: 2vh;

}

.images.hard{
	max-width: 800px;
	width: 35vw;
	min-width: 300px;

}

.images.snippit{
	max-width: 800px;
	width: 25vw;
	min-width: 300px;

}

.images.analyzer{
	max-width: 800px;
	width: 40vw;
	min-width: 300px;

}
.images.pcb{
	max-width: 800px;
	width: 40vw;
	min-width: 300px;

}



.click-zoom input[type=checkbox] {
  display: none
}


@media only screen and (min-width: 600px){

.click-zoom img {
  margin: 100px;
  transition: transform 0.25s ease;
  cursor: zoom-in
}

.click-zoom input[type=checkbox]:checked~img {
  transform: scale(2.3);
  cursor: zoom-out
}
}



.gif{
	max-width: 1400px;
	min-width: 300px;
	width: 45vw;
}

h1 {
}

p {
	max-width: 1200px;
	width: 50vw;
	min-width: 300px;

}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
